html {
    scroll-behavior: smooth;
}

@font-face {
    font-family: Roboto;
    src: url("assets/fonts/Roboto-Light.ttf");
    font-weight: 300;
}

@font-face {
    font-family: Roboto;
    src: url("assets/fonts/Roboto-Thin.ttf");
    font-weight: 100;
}

body {
    font-family: 'Roboto';
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

@media (max-width: 768px) {
    .section {
      width: 100%;
    }
  }


.container {
    max-width: 1440px;
    margin: 0 auto;
    background-color: rgb(43, 40, 40);
}

.header-container {
    position: relative;
    display: flex;
    justify-content: center;
}

.header-photo {
    width: 10%;
    display: flex;
}

.header-image {
    width: 100%;
}

.header-content {
    color: azure;
}


.nav-list {
    display: flex;
    align-items: center;
    list-style: none;
}

.nav-link {
    padding: 0 10px;
    line-height: 50px;
    color: darkorange;
    text-decoration: none;
    margin: 2px;
    transition: .3s;
}


.nav-item :hover {
    background: darkgray;
}

.main-container {
    display: flex;
}

.header-info {
    text-align: center;
}

.header-title {
    font-size: 50px;
    font-weight: 700;
    margin-bottom: -12px;
}

.header-hr {
    width: 350px;
}

.header-subtitle {
    font-size: 20px;
    font-weight: 400;
}

.section {
    display: flex;
    border: 1px solid chocolate;
}

.section-left {
    padding: 40px;
    text-align: center;
    white-space: nowrap;
}

.section-left-title {
    color: chocolate;
}

.about-me-info {
    padding: 40px;
    margin-left: 30px;
}

.section-title {
    color: white;
}

h3 {
    color: chocolate;
}

.key-strengths {
    padding-left: 15px;
}

.key-strengths-list {
    color: white;
}

.skills-list {
    display: flex;
    list-style: none;
    align-items: center;
    margin-left: 70px;
}

.skills-html {
    background-image: url(./assets/img/icons8-html-5.svg);
    padding: 25px 25px;
    background-repeat: no-repeat;
}

.skills-list-item {
    color: white;
    padding: 40px 10px;
}

.skills-css {
    background-image: url(./assets/img/icons8-css3.svg);
    padding: 25px 25px;
    background-repeat: no-repeat;
}

.skills-github {
    background-image: url(./assets/img/icons8-github.svg);
    padding: 25px 25px;
    background-repeat: no-repeat;

}

.code-example-right {
    background-color: rgb(138, 135, 135);
    border-radius: 3px;
    width: 70%;
}

.code-left {
    padding-top: 180px;
}

.button {
    background-color: burlywood;
    color: black;
    padding: 20px 60px;
    text-decoration: none;
    border-radius: 3px;


}

.projects-info {
    margin: 60px;
}

h4 {
    color: white;
}

.education-info {
    padding: 20px 50px;
}

.contacts-info-list {
    padding: 30px 60px;
}

.footer-icons {
    display: flex;
    list-style: none;
    justify-content: center;
    margin: 0;
}

.footer-icons-item {
    padding: 25px 25px;
}

.footer-icons-rsschool-img {
    width: 48px;
    height: 48px;
}

h5 {
    text-align: center;
}